.primary__div {
    position: relative;
    margin: 17px 0 0 0;
    border-radius: 5px;
    overflow: hidden;
    background-color: #E7E7E7;

    input {
        width: 100%;
        background: transparent;
        border: none;
        border-radius: 5px;
        height: 69px;
        padding-left: 18px;
        font-size: larger;
    }
    .fas {
        position: absolute;
        right: 0;
        top: 18px;
        font-size: 36px;
        margin-right: 18px;
    }
}