header {
  display: flex;
  align-items: center;
}
header img {
  height: 93px;
  width: 268px;
  padding-top: 42px;
  margin: auto;
}

.primary__div {
  position: relative;
  margin: 17px 0 0 0;
  border-radius: 5px;
  overflow: hidden;
  background-color: #E7E7E7;
}
.primary__div input {
  width: 100%;
  background: transparent;
  border: none;
  border-radius: 5px;
  height: 69px;
  padding-left: 18px;
  font-size: larger;
}
.primary__div .fas {
  position: absolute;
  right: 0;
  top: 18px;
  font-size: 36px;
  margin-right: 18px;
}

body {
  margin: 0 100px;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 1155px) {
  body {
    margin: 0 50px;
  }
}
@media (max-width: 1155px) and (max-width: 899px) {
  body {
    margin: 0 25px;
  }
}
@media (max-width: 1155px) and (max-width: 899px) and (max-width: 660px) {
  body {
    margin: 0 10px;
  }
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 25px;
  row-gap: 50px;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
@media (max-width: 1155px) {
  .card {
    row-gap: 20px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 1155px) and (max-width: 899px) {
  .card {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 1155px) and (max-width: 899px) and (max-width: 660px) {
  .card {
    grid-template-columns: 1fr;
  }
}

#tags {
  display: flex;
  flex-wrap: wrap;
}

.tags {
  display: flex;
  color: white;
  align-items: center;
  margin: 10px 5px 0 0;
  padding: 10px;
  border-radius: 5px;
}
.tags p {
  margin: 0 10px 0 0;
}

.hidden {
  display: none;
}

.hidden {
  display: none;
}

/* section secondary */
.secondary {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin: 15px 0 0 0;
}
@media (max-width: 1155px) {
  .secondary {
    flex-direction: column;
    row-gap: 10px;
  }
}
.secondary button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  width: 170px;
  border-radius: 5px;
  font-size: 18px;
  padding: 0;
  border: none;
  color: white;
  cursor: pointer;
  padding: 18px;
}
@media (max-width: 1155px) {
  .secondary button {
    width: 100%;
  }
}
.secondary button p {
  margin: 0 0 0 18px;
}
.secondary .button--dropdown {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 69px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 70% 20%;
  -moz-column-gap: 10%;
       column-gap: 10%;
  align-items: center;
  display: none;
}
@media (max-width: 1155px) {
  .secondary .button--dropdown {
    height: auto;
    width: 100%;
  }
}
.secondary .button--dropdown p {
  margin: 19px 28px 19px 18px;
  color: white;
}
.secondary .button--dropdown .fa-chevron-down {
  color: white;
  text-align: end;
  margin-right: 18px;
  cursor: pointer;
  position: relative;
  z-index: 3;
}
.secondary .button--dropdown div {
  grid-column: 1/3;
  padding: 15px;
  border-radius: 0 0 5px 5px;
  width: 550px;
  max-height: 250px;
  overflow-y: scroll;
}
@media (max-width: 1155px) {
  .secondary .button--dropdown div {
    width: auto;
    margin: 0;
  }
}
.secondary .button--dropdown div ul {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  position: relative;
  z-index: 3;
  max-width: 700px;
  overflow: hidden;
  margin: -0.5rem 0 0 0;
  padding: 0;
}
@media (max-width: 1155px) {
  .secondary .button--dropdown div ul {
    max-width: 100%;
  }
}
@media (max-width: 1155px) and (max-width: 440px) {
  .secondary .button--dropdown div ul {
    grid-template-columns: 1fr 1fr;
  }
}
.secondary .button--dropdown div ul li {
  color: white;
  cursor: pointer;
  font-size: 18px;
  list-style: none;
  text-align: start;
  margin: 5px;
}
.secondary .button--dropdown div ul li:hover {
  background-color: white;
}
.secondary .button--dropdown div ul .ingredients--list:hover {
  color: #3282F7;
}
.secondary .button--dropdown div ul .appareils--list:hover {
  color: #68D9A4;
}
.secondary .button--dropdown div ul .ustensils--list:hover {
  color: #ED6454;
}
.secondary__ingredients {
  background: #3282F7;
}
.secondary__appareils {
  background: #68D9A4;
}
.secondary__ustensils {
  background: #ED6454;
}
.secondary input {
  background-color: transparent;
  width: 83%;
  height: 22px;
  color: white;
  border: none;
  margin: 19px 28px 19px 18px;
  /*display: none;*/
  position: relative;
  z-index: 10;
}
@media (max-width: 542px) {
  .secondary input {
    width: 70%;
  }
}
.secondary input::-moz-placeholder {
  color: white;
}
.secondary input:-ms-input-placeholder {
  color: white;
}
.secondary input::placeholder {
  color: white;
}
.secondary .chevron--dropdown--open {
  /*display: none;*/
}

.color__ingredients {
  background: #3282F7;
}
.color__ingredients::-webkit-scrollbar {
  width: 15px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}
.color__ingredients::-webkit-scrollbar-thumb { /* Foreground */
  background: #1973f6;
  border-radius: 10px;
}

.color__appareils {
  background: #68D9A4;
}
.color__appareils::-webkit-scrollbar {
  width: 15px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}
.color__appareils::-webkit-scrollbar-thumb { /* Foreground */
  background: #54d498;
  border-radius: 10px;
}

.color__ustensils {
  background: #ED6454;
}
.color__ustensils::-webkit-scrollbar {
  width: 15px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}
.color__ustensils::-webkit-scrollbar-thumb { /* Foreground */
  background: #eb4f3d;
  border-radius: 10px;
}

article {
  border-radius: 5px;
  background-color: #E7E7E7;
  overflow: auto;
}
article .card__img {
  height: 178px;
  background: #C7BEBE;
}
article .card__desc {
  margin: 20px 18px 15px 18px;
}
article .card__desc--title {
  display: flex;
  justify-content: space-between;
}
article .card__desc--title h2 {
  font-size: 18px;
}
article .card__desc--title div {
  display: flex;
  align-items: center;
}
article .card__desc--title div p {
  font-size: 18px;
  margin-left: 7px;
}
article .card__desc--recipe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 105px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
article .card__desc--recipe .desc--recipe {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 150px;
}
article .card__desc--recipe .desc--recipe p {
  font-size: 12px;
  margin: 0;
  /*height: 105px;*/
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  text-align: justify;
}
article .card__desc--recipe div p {
  margin: 0;
  font-size: 12px;
}/*# sourceMappingURL=main.css.map */