article {
    border-radius: 5px;
    background-color: #E7E7E7;
    overflow: auto;

    .card__img{
        height: 178px;
        background: #C7BEBE;
    }
    .card__desc {
        margin: 20px 18px 15px 18px;

        &--title{
            display: flex;
            justify-content: space-between;

            & h2 {
                font-size: 18px;
            }
            & div {
                display: flex;
                align-items: center;
                
                & p {
                    font-size: 18px;
                    margin-left: 7px;
                }
            }
        }
        &--recipe{
            display: grid;
            grid-template-columns: 1fr 1fr;
            min-height: 105px;

            & div {
                
                & p {
                    font-size: 12px;
                    margin: 0;
                }
                
            }
            & div p {
                margin: 0;
                font-size: 12px;
            }
        }
    }
}