body {
    margin: 0 100px;
    font-family: 'Roboto', sans-serif;

    @media (max-width: 1155px) {
        margin: 0 50px;

        @media (max-width: 899px) {
            margin: 0 25px;

            @media (max-width: 660px) {
                margin: 0 10px;
            }
        }
        
    }
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 25px;
    row-gap: 50px;
    column-gap: 50px;

    @media (max-width: 1155px) {
        row-gap: 20px;
        column-gap: 20px;

        @media (max-width: 899px) {
            grid-template-columns: 1fr 1fr;

            @media (max-width: 660px) {
                grid-template-columns: 1fr;
            }
        }
    }


}

#tags {
    display: flex;
    flex-wrap: wrap;
}

.tags {
    display: flex;
    color: white;
    align-items: center;
    margin: 10px 5px 0 0;
    padding: 10px;
    border-radius: 5px;

    p {
        margin: 0 10px 0 0;
    }
}


.hidden {
    display: none;
}

#no__recipes {
    display: none;
    text-align: center;
    padding: 50px 10px 10px 10px;
    font-size: larger;
}